<?xml version="1.0"?>
<launch>

	<!-- upload ROBOT parameters to parameter server -->
	
	<!-- ############################################### -->
	<!-- ### TODO: add your robot configuration here ### -->
	<!-- ###       see cob_default_robot_config      ### -->
	<!-- ############################################### -->
	<rosparam command="load" ns="/script_server/arm" file="$(find cob_scenario_example)/config/robots/$(env ROBOT)/arm_joint_configurations.yaml"/>

</launch>
