<?xml version="1.0"?>
<launch>
	
	<!-- start command_gui -->
	<node ns="command_gui" pkg="cob_command_gui" type="knoeppkes.py" name="$(anon command_gui_node)" cwd="node" respawn="false" output="screen" >
		<!-- upload button parameters, but delete the old ones before -->
		<rosparam command="load" ns="control_buttons" file="$(find cob_experimentation_days)/config/command_gui/control_buttons_$(env ROBOT).yaml"/>
		<rosparam command="load" ns="nav_buttons" file="$(find cob_experimentation_days)/config/command_gui/nav_buttons_$(env ROBOT_ENV).yaml"/>
	</node>

</launch>
