<?xml version="1.0"?>
<launch>

	<!-- start bringup-->
	<include file="$(find cob_bringup_sim)/launch/robot.launch"/>

	<!-- start scenario packages -->
	<include file="$(find cob_experimentation_days)/launch/experimentation_days.launch"/>
	
	<!-- start packages only needed for simulation-->
	<include file="$(find cob_object_detection_fake)/ros/launch/object_detection_fake.launch"/>
	
</launch>
