<?xml version="1.0"?>
<launch>

	<!-- start bringup-->
	<!--include file="$(find cob_bringup)/robot.launch"/-->
	
	<param name="/sound_controller/mode" value="cepstral"/>

	<!-- start scenario packages -->
	<include file="$(find cob_experimentation_days)/launch/experimentation_days.launch"/>

	<!-- start navigation -->
	<include file="$(find cob_2dnav)/ros/launch/2dnav_ipa.launch"/>

	<!-- start object detection -->
	<machine name="pc2" address="cob3-3-pc2" default="true"/>
	<include file="$(find cob_sensor_fusion)/ros/launch/sensor_fusion_stereo.launch"/>
	<machine name="pc3" address="cob3-3-pc3" default="true"/>
	<include file="$(find cob_object_detection)/ros/launch/object_detection.launch"/>

	<!-- start all following nodes on default pc (pc1) -->
	<machine name="pc1" address="cob3-3-pc1" default="true"/>	

</launch>
