<?xml version="1.0"?>
<launch>

	<!-- start bringup-->
	<include file="$(find cob_bringup)/robot.launch"/>
	
	<param name="/sound_controller/mode" value="cepstral"/>

	<!-- start scenario packages -->
	<include file="$(find cob_experimentation_days)/launch/experimentation_days.launch"/>
	
</launch>
